asgiref==3.12.1
autopep8==2.3.2
certifi==2026.7.22
charset-normalizer==3.4.9
Django==6.1
djangorestframework==3.18.0
idna==3.18
mysqlclient==2.2.8
pycodestyle==2.14.0
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.7.0
