# ==========================
# Python
# ==========================

# Virtual environments
**/.venv/
**/venv/
**/env/

# Python cache
**/__pycache__/
*.py[cod]
*$py.class

# ==========================
# Django
# ==========================

# SQLite database
**/db.sqlite3

# Collected static files (created by collectstatic)
**/static/admin/

# User-uploaded media
**/media/

# ==========================
# IDEs
# ==========================

.vscode/
.idea/

# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Logs
# ==========================

*.log